
//Fonts
$primary-font: "Segoe UI";
$heading-font:'Volkhov', serif;
//Colors
$ebony: #080402;
$gainsboro : #DFDFDF;
$gray-light: #ada5a5;
$gray-very-light: #D1CFCF;
$white:white;
$whitesmoke: #F0F0F0;
